@page
@model UserApp.Pages.Register.RegisterStudent

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Sign up";
}

<h1>@ViewData["Sign Up"]</h1>

<header>
    <h1 class="page-title">Sign up</h1>
</header>
<section class="form-container">
    <h4>Sign Up</h4>
    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="StudentModel.FirstName"></label>
                <input asp-for="StudentModel.FirstName" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.LastName"></label>
                <input asp-for="StudentModel.LastName" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.Email"></label>
                <input asp-for="StudentModel.Email" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.PhoneNumber"></label>
                <input asp-for="StudentModel.PhoneNumber" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.Street"></label>
                <input asp-for="StudentModel.Street" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.City"></label>
                <input asp-for="StudentModel.City" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.ZipCode"></label>
                <input asp-for="StudentModel.ZipCode" required />
            </div>
            <div class="form-control">
                <label asp-for="StudentModel.Country"></label>
                <input asp-for="StudentModel.Country" required />
            </div>
            <div class="buttons">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
    <div class="error_message">@ViewData["ErrorMessage"]</div>
    <div class="succsess_message">@ViewData["Verification"]</div>
    <div class="page-button">
        <a asp-page="/Category/Category"><button class="btn">Checkout our Courses!</button></a>
    </div>
</section>