@page
@model AdminApp.Pages.Teacher.Create

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Register Teacher";
}

<h1>@ViewData["Register New Teacher"]</h1>

<header>
    <h1 class="page-title">Register New Teacher</h1>
</header>
<section class="form-container">
    <h4>Sign Up</h4>
    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="TeacherModel.FirstName"></label>
                <input asp-for="TeacherModel.FirstName" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.LastName"></label>
                <input asp-for="TeacherModel.LastName" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Email"></label>
                <input asp-for="TeacherModel.Email" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.PhoneNumber"></label>
                <input asp-for="TeacherModel.PhoneNumber" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Street"></label>
                <input asp-for="TeacherModel.Street" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.City"></label>
                <input asp-for="TeacherModel.City" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.ZipCode"></label>
                <input asp-for="TeacherModel.ZipCode" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Country"></label>
                <input asp-for="TeacherModel.Country" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Categories[0].CategoryName"></label>
                <select asp-for="CategoriesFromForm" multiple>
                    <option value="Dotnet">.NET</option>
                    <option value="C">C</option>
                    <option value="Cplus">C++</option>
                    <option value="C-Sharp">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="Docker">Docker</option>
                    <option value="HTML">HTML</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="PHP">PHP</option>
                    <option value="Python">Python</option>
                    <option value="React">React</option>
                    <option value="SQL">SQL</option>
                </select>
            </div>
            @* <div class="form-control">
                <label asp-for="TeacherModel.Categories[0].CategoryName"></label>
                <input asp-for="TeacherModel.Categories[0].CategoryName" />
                </div> *@
            <div class="buttons">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
    @* <form action="#">
        <label for="lang">Language</label>
        <select name="languages" id="lang" multiple>
        <option value="javascript">JavaScript</option>
        <option value="php">PHP</option>
        <option value="java">Java</option>
        <option value="golang">Golang</option>
        <option value="python">Python</option>
        <option value="c#">C#</option>
        <option value="C++">C++</option>
        <option value="erlang">Erlang</option>
        </select>
        <input type="submit" value="Submit" />
        </form> *@
</section>