@page
@model AdminApp.Pages.Teacher.Create

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Register Teacher";
}

<h1>@ViewData["Register New Teacher"]</h1>

<header>
    <h1 class="page-title">Add New Teacher</h1>
</header>
<section class="form-container">
    <h4>Add New Teacher</h4>

    <div class="error_message">@ViewData["ErrorMessage"]</div>

    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="TeacherModel.FirstName"></label>
                <input asp-for="TeacherModel.FirstName" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.LastName"></label>
                <input asp-for="TeacherModel.LastName" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Email"></label>
                <input asp-for="TeacherModel.Email" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.PhoneNumber"></label>
                <input asp-for="TeacherModel.PhoneNumber" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Street"></label>
                <input asp-for="TeacherModel.Street" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.City"></label>
                <input asp-for="TeacherModel.City" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.ZipCode"></label>
                <input asp-for="TeacherModel.ZipCode" required />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Country"></label>
                <input asp-for="TeacherModel.Country" required />
            </div>
            <h4>Choose Categories</h4>
            <p><em>use ctrl/cmd for multiple selction</em></p>
            <div class="form-control">
                <select asp-for="CategoriesFromForm" multiple class="category_select" size="4">
                    <option value="DOTNET">.NET</option>
                    <option value="C">C</option>
                    <option value="CPLUS">C++</option>
                    <option value="C-SHARP">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="DOCKER">Docker</option>
                    <option value="HTML">HTML</option>
                    <option value="JAVA">Java</option>
                    <option value="JAVASCRIPT">JavaScript</option>
                    <option value="PHP">PHP</option>
                    <option value="PYTHON">Python</option>
                    <option value="REACT">React</option>
                    <option value="SQL">SQL</option>
                </select>
            </div>
            <div class="buttons">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</section>