@page
@model AdminApp.Pages.Teacher.Create

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}


@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<div>

</div>