@page "{id}"
@model AdminApp.Pages.Teacher.Delete
@{
    ViewData["Title"] = "Delete";
}

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Delete Teacher";
}
<h1 class="page-title">Teacher was Deleted!</h1>

<div class="page-button">
    <a asp-page="Index"><button class="btn">Back to Teachers</button></a>
</div>