@page "{id}"
@model AdminApp.Pages.Teacher.Edit

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Edit Teacher";
}

<h1>@ViewData["Edit Teacher"]</h1>

<header>
    <h1 class="page-title">Edit Teacher</h1>
</header>
<section class="form-container">
    <h4>Sign Up</h4>
    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="TeacherModel.FirstName"></label>
                <input asp-for="TeacherModel.FirstName" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.LastName"></label>
                <input asp-for="TeacherModel.LastName" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Email"></label>
                <input asp-for="TeacherModel.Email" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.PhoneNumber"></label>
                <input asp-for="TeacherModel.PhoneNumber" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Street"></label>
                <input asp-for="TeacherModel.Street" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.City"></label>
                <input asp-for="TeacherModel.City" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.ZipCode"></label>
                <input asp-for="TeacherModel.ZipCode" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Country"></label>
                <input asp-for="TeacherModel.Country" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Categories[0].CategoryName"></label>
                <input asp-for="TeacherModel.Categories[0].CategoryName" />
            </div>
            <div class="form-control">
                <label asp-for="TeacherModel.Courses[0].CourseNo"></label>
                <input asp-for="TeacherModel.Courses[0].CourseNo" />
            </div>
            <div class="buttons">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</section>