@page
@model AdminApp.Pages.Teacher.Index

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>Teacher Index</p>
</div>