@page
@model UserApp.Pages.Course.Course

<h1 class="page-title">Courses</h1>
<article>
    <section class="course-wrapper">
        @foreach (var course in Model.Courses)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@course.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">@course.Description | @course.Length</p>
                    <h6>Description</h6>
                    <p>@course.Details</p>
                </div>
            </div>
        }
    </section>
</article>