@page
@model IndexModel

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Admin Home";
}

<h1 class="page-title">Admin Home</h1>
<section class="course-wrapper">
    <a asp-page="/Course/Index">
        <div class="course-card">
            <img src="~/img/frontpage.jpg" alt="picture of a classroom">
        </div>
    </a>
</section>