@page
@model UserApp.Pages.Category.Category

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

<h1 class="page-title">Choose a Category</h1>

<article>

    <section class="course-wrapper">
        <table class="styled_table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Categories[0].CategoryName)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            <a asp-page="CategoryWithCourse" asp-route-id="@item.CategoryId">Go to courses</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</article>
