@page
@model UserApp.Pages.Category.Category

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

<h1 class="page-title">Categories</h1>


<article>
    <section class="course-wrapper">
        @foreach (var category in Model.Categories)
        {
            <div class="course-card">
                <a asp-page="CategoryWithCourse" asp-route-ID="@category.CategoryId">@category.CategoryName</a>
            </div>
        }
    </section>
</article>
