<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/cbd941066d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/utilities.css">

    @RenderSection("styles", false)
    <title>Westcoast Education @ViewData["Title"]</title>
</head>

<body>
    <nav id="navbar">
        <h1 class="logo"><span class="text-primary"><i class="fa-solid fa-gear"></i> Westcoast </span>Education</h1>
        <ul>
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/Course/Index">Courses</a></li>
            <li><a asp-page="/Teacher/Index">Teachers</a></li>
            <li><a asp-page="/Student/Index">Students</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>