/* Deklarera variabler för CSS */

:root {
    --primary-color: #F3ECE3;
    --secondary-color: #F3E3C9;
    --primary-text-color: #F4D9BC;
    --secondary-text-color: #F3E3C9;
    --border-color: #F6BCAE;
}