@page "{id}"
@model AdminApp.Pages.Course.Edit

@section styles{
<link rel="stylesheet" href="~/css/course-page.css">
}

@{
    ViewData["Title"] = "Edit";
}

<header>
    <h1 class="page-title">Edit Course</h1>
</header>
<section class="form-container">
    <h4>Edit Course</h4>
    <section class="form-wrapper">
        <form class="form" method="post">
            <div class="form-control">
                <label asp-for="Course.CourseNo"></label>
                <input asp-for="Course.CourseNo" required />
            </div>
            <div class="form-control">
                <label asp-for="Course.Title"></label>
                <input asp-for="Course.Title" required />
            </div>
            <div class="form-control">
                <label asp-for="Course.Length"></label>
                <input asp-for="Course.Length" required />
            </div>
            <div class="form-control">
                <label asp-for="Course.Description"></label>
                <input asp-for="Course.Description" required />
            </div>
            <div class="form-control">
                <label asp-for="Course.Details"></label>
                <input asp-for="Course.Details" required />
            </div>
            <div class="form-control">
                <label asp-for="Course.CategoryId"></label>
                <input asp-for="Course.CategoryId" required />
            </div>

            <div class="buttons">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </section>
</section>