.course-wrapper {
    /* CSS Grid */
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(4, 1fr);
    gap: 2rem; */
}

.course-card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    min-width: 40vw;
    height: auto;
    background: var(--secondary-color);
    padding: 1rem 1.5rem;
    border: var(--border-color) solid 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
}

.course-card img {
    max-width: 45vw;
    border-radius: 4px;
}

.course-card a {
    color: #373d3f;
    text-decoration: none;
}

@media (max-width: 500px) {
    .course-wrapper {
        grid-template-columns: repeat(1, 1fr);
        max-width: 500px;
    }
    .course-card {
        margin: auto;
    }
}

@media (min-width: 501px) and (max-width: 666px) {
    .course-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 667px) and (max-width: 768px) {
    .course-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .course-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}